.index{
    background-color: rgb(251, 255, 0);
    font-family: 'Courier New';
}

.newsletter{
    background-color: green;
    font-family: 'Franklin Gothic Medium';
}

.aboutus{
    background-color: red;
    font-family: 'Times New Roman';
}

h1{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: seagreen;
    padding: 1em;
    gap: 1em;
    border-style: dotted;
}

.grid-container{
    display: grid;
    background-color: slateblue;
    padding: 1em;
    gap: 1em;
    border-style: double;
}

.item-a{
    color: red;
}

.item-b{
    color: blue;
}

.item-c{
    color: green;
}

.item-d{
    color: yellow;
}

.item-e{
    color: orange;
}

.item-f{
    color: purple;
}

@media only screen and (max-width: 600px) {
    .container{
        flex-direction: column;
    }
    
}

@media only screen and (min-width: 600px) {
    .container{
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) {
    .container{
        flex-direction: column;
    }
}

@media only screen and (min-width: 992px) {
    .container{
        flex-direction: row;
    }

}

@media only screen and (min-width: 1200px) {
    .container{
        flex-direction: row;
    }
    
}